# ADM Homework 3

## Search Engine

In [3]:
if True:
    %pip install -qqq numpy scipy matplotlib pandas scikit-learn nltk forex_python babel

Note: you may need to restart the kernel to use updated packages.

In [5]:
import string
import nltk
import pandas as pd
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize
import re
from forex_python.converter import CurrencyRates
from babel.numbers import get_currency_symbol
from nltk.stem import *
from collections import Counter
from functools import reduce
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import heapq

In [23]:
nltk.download('stopwords')
nltk.download('punkt')
stemmer = PorterStemmer()
masters = pd.read_json(r"C:\Users\Elias Antoun\Downloads\dataset.json")

[nltk_data] Downloading package stopwords to C:\Users\Elias
[nltk_data]     Antoun\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to C:\Users\Elias
[nltk_data]     Antoun\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

### Preprocessing 2.0

In [24]:
# 2.0.0 Tokenize, remove stopwords and punctuation, and stem

stop_words = set(stopwords.words('english'))

def tok_punct_and_stop(text):
    # tokenize the text given
    desc_tok = word_tokenize(text)

    # remove punctuation and stopwords from the tokens
    desc_tok_nostop_nopunct = [x for x in desc_tok if x.lower() not in stop_words and x not in string.punctuation]

    # stem using porterstemmer
    stemmed_desc = [stemmer.stem(x) for x in desc_tok_nostop_nopunct]
    return stemmed_desc

# Apply the function to the description column of our dataset

masters["description"] = masters["description"].apply(tok_punct_and_stop)

In [25]:
masters

,courseName,universityName,facultyName,isItFullTime,description,startDate,fees,modality,duration,city,country,administration,url
0,3D Design for Virtual Environments - MSc,Glasgow Caledonian University,School of Engineering and Built Environment,Full time,"[3d, visualis, anim, play, role, mani, area, p...",September,Please see the university website for further ...,MSc,1 year full-time,Glasgow,United Kingdom,On Campus,
1,Accounting and Finance - MSc,University of Leeds,Leeds University Business School,Full time,"[busi, govern, reli, sound, financi, knowledg,...",September,"UK: £18,000 (Total) International: £34,750 (To...",MSc,1 year full time,Leeds,United Kingdom,On Campus,
2,Accounting and Finance (MSc),University of Bath,School of Management,Full time,"[develop, in-depth, knowledg, account, financ,...",September,\n</div,MSc,1 year full-time,Bath,United Kingdom,On Campus,
3,"Accounting, Accountability & Financial Manag...",King’s College London,King’s Business School,Full time,"[account, account, financi, manag, msc, cours,...",September,Please see the university website for further ...,MSc,1 year FT,London,United Kingdom,On Campus,
4,"Accounting, Financial Management and Digital...",University of Reading,Henley Business School,Full time,"[embark, profession, account, career, academ, ...",September,\n</div,MSc,1 year full time,Reading,United Kingdom,On Campus,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1825,Cancer Biology (MSc),Sheffield Hallam University,Postgraduate Courses,Full time,"[work, state-of-the-art, facil, gain, in-depth...",September,Please see the university website for further ...,MSc,"1 year full-time, 2 years part-time",Sheffield,United Kingdom,On Campus,
1826,Cancer Biology and Immunology (MSc),University of Southampton,Faculty of Medicine,Full time,"[embark, career, cancer, research, focu, lates...",See Course,Please see the university website for further ...,MSc,1 year full-time; 2 years part-time,Southampton,United Kingdom,On Campus,
1827,Cancer Biology and Precision Oncology (Onlin...,University of Edinburgh,Edinburgh Medical School,Part time,"[programm, descriptionthi, new, programm, equi...",September,"For 2022/23 the fees are £6,035.",MSc,1-3 years part-time,Edinburgh,United Kingdom,Online,
1828,Cancer Biology and Therapeutics - MSc,Cardiff University,Cardiff School of Pharmacy and Pharmaceutical ...,Full time,"[studi, coursegradu, cours, breadth, depth, ca...",September,Please see the university website for further ...,MSc,1 year full time,Cardiff,United Kingdom,On Campus,
1829,Cancer Biology and Therapeutics MSc,Middlesex University,Faculty of Science and Technology,Full time,"[msc, programm, develop, knowledg, understand,...",October,"UK students Full-time students: £9,600 Part-ti...",MSc,1 year full-time; 2 years part-time,London,United Kingdom,On Campus,

In [26]:
# 2.0.1 fee preprocessing

# Step 1: Currency management setup


# Dictionary to standardize possible ways of writing a currency

curr_codes = {"EUR": ["euros", "€", "eur", "euro"],
              "USD": ["usd", "dollars", "$", "dollar"],
              "GBP": ["gbp", "pounds", "pound", "£"]}


# Step 2: amount and currency extraction
def extract_amount_and_curr(text):
    currencies = ["usd", "$", "dollars", "dollar", "euro", "euros", "€", "gbp", "eur", "£", "pounds"]
    amount = []
    i = 0
    text_tok = tok_punct_and_stop(text)
    tex_l = []
    for entry in text_tok:
        # Find the index of the first digit
        digit_index = next((i for i, c in enumerate(entry) if c.isdigit()), None)

        if digit_index is not None:
            # Split the entry into two parts
            prefix = entry[:digit_index]
            suffix = entry[digit_index:]

            # Add the parts to the result list
            tex_l.append(prefix)
            tex_l.append(suffix)
        else:
            # If no digit is found, keep the original entry
            tex_l.append(entry)

    # parse through obtained list to find numbers and currency symbols
    while i < len(tex_l):
        if tex_l[i].lower() in currencies:
            if i - 1 >= 0 and tex_l[i - 1].replace(',', '').isnumeric():
                amount.append(tex_l[i - 1].replace(',', ''))
            elif i + 1 < len(tex_l) and tex_l[i + 1].replace(',', '').isnumeric():
                amount.append(tex_l[i + 1].replace(',', ''))
            amount.append(tex_l[i])
        i += 1
    return amount


masters["fees"] = masters["fees"].apply(extract_amount_and_curr)


# Step 3: define function to return the max amount, and its currency

def max_standard(amount):
    curr = []
    price = [float(x) for x in amount if x.isnumeric()]
    for y in amount:
        for key, values in curr_codes.items():
            if y.lower() in values:
                curr.append(key)

    return sorted(price, reverse=True), curr


masters["fees"] = masters["fees"].apply(max_standard)

# Step 4: Conversion


def convert_to_euros(amount, source_currency):
    c = CurrencyRates()
    try:
        exchange_rate = c.get_rate(source_currency, 'EUR')
        return amount * exchange_rate
    except Exception as e:
        print(f"Error: {e}")
        return None

def max_amounts_in_euros(fees_column):
    max_amounts = []

    for entry in fees_column:
        amounts, currencies = entry
        max_amount_euros = float('-inf')

        for amount, currency in zip(amounts, currencies):
            amount_euros = convert_to_euros(amount, currency)
            if amount_euros is not None:
                max_amount_euros = max(max_amount_euros, amount_euros)

        max_amounts.append(max_amount_euros)

    return max_amounts

masters['fees'] = max_amounts_in_euros(masters['fees'])
masters['fees'] = masters['fees'].apply(lambda x: f"{x:.2f}" if pd.notna(x) else np.nan)
print(masters["fees"])

0           -inf
1       39871.49
2           -inf
3           -inf
4           -inf
          ...
1825        -inf
1826        -inf
1827     6924.44
1828        -inf
1829    17325.45
Name: fees, Length: 1830, dtype: object

### Build a vocabulary

In [27]:
vocabulary_alt = Counter(reduce(lambda x, y: x + y, masters.description.values)).keys()
index = {}
unique_id = 1
for word in list(vocabulary_alt):
  index[unique_id] = word
  unique_id+=1
index

{1: '3d',
 2: 'visualis',
 3: 'anim',
 4: 'play',
 5: 'role',
 6: 'mani',
 7: 'area',
 8: 'popular',
 9: 'media',
 10: 'keep',
 11: 'grow',
 12: 'digit',
 13: 'provid',
 14: 'eye-catch',
 15: 'special',
 16: 'effect',
 17: '21st',
 18: 'centuri',
 19: "'s",
 20: 'favourit',
 21: 'film',
 22: 'televis',
 23: 'show',
 24: 'design',
 25: 'also',
 26: 'essenti',
 27: 'everyday',
 28: 'work',
 29: 'everyth',
 30: 'comput',
 31: 'game',
 32: 'develop',
 33: 'onlin',
 34: 'virtual',
 35: 'world',
 36: 'industri',
 37: 'market',
 38: 'product',
 39: 'architecture.gcu',
 40: 'programm',
 41: 'environ',
 42: 'help',
 43: 'skill',
 44: 'thrive',
 45: 'success',
 46: 'career',
 47: 'visual',
 48: 'practic',
 49: 'career-focus',
 50: 'orient',
 51: 'toward',
 52: 'current',
 53: 'need',
 54: 'technolog',
 55: 'prior',
 56: 'knowledg',
 57: 'requir',
 58: 'busi',
 59: 'govern',
 60: 'reli',
 61: 'sound',
 62: 'financi',
 63: 'underpin',
 64: 'strategi',
 65: 'success.thi',
 66: 'cours',
 67: 'kick-start',
 68: 'profession',
 69: 'advanc',
 70: 'modern',
 71: 'theori',
 72: 'account',
 73: 'control',
 74: 'well',
 75: 'understand',
 76: 'organis',
 77: 'context.y',
 78: "'ll",
 79: 'cover',
 80: 'fundament',
 81: 'topic',
 82: 'corpor',
 83: 'financ',
 84: 'report',
 85: 'option',
 86: 'modul',
 87: 'allow',
 88: 'specialis',
 89: 'rang',
 90: 'intern',
 91: 'forens',
 92: '’',
 93: 'abl',
 94: 'appli',
 95: 'learn',
 96: 'case',
 97: 'studi',
 98: 'simul',
 99: 'test',
 100: 'genuin',
 101: 'scenario',
 102: 'in-depth',
 103: 'graduat',
 104: 'prepar',
 105: 'either',
 106: 'field.rec',
 107: 'theoret',
 108: 'foundat',
 109: 'analys',
 110: 'inform',
 111: 'decis',
 112: 'real',
 113: 'emphasi',
 114: 'technic',
 115: 'mean',
 116: 'career.y',
 117: 'expert',
 118: 'make',
 119: 'sure',
 120: 'explor',
 121: 'issu',
 122: 'employ',
 123: 'look',
 124: 'like',
 125: 'manag',
 126: 'msc',
 127: 'econom',
 128: 'institut',
 129: 'management.y',
 130: 'import',
 131: 'ethic',
 132: 'global',
 133: 'undergradu',
 134: 'degre',
 135: 'relev',
 136: 'social',
 137: 'scienc',
 138: 'subject',
 139: 'readi',
 140: 'tackl',
 141: 'intellectu',
 142: 'challeng',
 143: 'finance.through',
 144: 'combin',
 145: 'core',
 146: 'choic',
 147: 'come',
 148: 'away',
 149: 'fulli',
 150: 'equip',
 151: 'choos',
 152: 'go',
 153: 'embark',
 154: 'academ',
 155: 'grounding.th',
 156: 'distinct',
 157: 'flavour',
 158: 'focus',
 159: 'concept',
 160: 'offer',
 161: 'critic',
 162: 'relat',
 163: 'strateg',
 164: 'plu',
 165: 'peopl',
 166: 'addit',
 167: 'includ',
 168: 'actuari',
 169: 'master',
 170: 'accredit',
 171: 'uk',
 172: 'faculti',
 173: 'key',
 174: 'practice.overviewwho',
 175: 'part-qualifi',
 176: 'recognis',
 177: 'bsc',
 178: 'complet',
 179: 'equival',
 180: 'least',
 181: 'four',
 182: 'principl',
 183: 'stage',
 184: 'examin',
 185: 'ifoa',
 186: 'mathemat',
 187: 'cm1',
 188: 'high-fli',
 189: 'tradit',
 190: 'non-tradit',
 191: 'field',
 192: 'analyt',
 193: 'pathway',
 194: 'much',
 195: 'sought',
 196: 'area.overviewwho',
 197: 'strong',
 198: 'abil',
 199: 'interest',
 200: 'solv',
 201: 'problem',
 202: 'becom',
 203: 'one',
 204: 'reward',
 205: 'chang',
 206: 'bring',
 207: 'new',
 208: 'risk',
 209: 'join',
 210: 'us',
 211: 'session',
 212: 'prospect',
 213: 'student',
 214: 'find',
 215: 'addict',
 216: 'take',
 217: 'place',
 218: 'wednesday',
 219: '17th',
 220: 'may',
 221: '12',
 222: '12.45pm',
 223: 'book',
 224: 'onlineour',
 225: 'postgradu',
 226: 'educ',
 227: 'particular',
 228: 'recent',
 229: 'biolog',
 230: 'psycholog',
 231: 'socio-environment',
 232: 'conceptualis',
 233: 'drug',
 234: 'use',
 235: 'prevent',
 236: 'posit',
 237: 'within',
 238: 'context',
 239: 'polici',
 240: 'facilit',
 241: 'transfer',
 242: 'workplac',
 243: 'informationy',
 244: 'detail',
 245: 'excel',
 246: 'clinic',
 247: 'experi',
 248: 'across',
 249: 'set',
 250: 'gain',
 251: 'qualif',
 252: 'highli',
 253: 'regard',
 254: 'practition',
 255: 'lead',
 256: 'research',
 257: 'adult',
 258: 'mental',
 259: 'health',
 260: 'nurse.cours',
 261: 'overviewthi',
 262: 'alreadi',
 263: 'progress',
 264: 'fulfil',
 265: 'undertak',
 266: 'lifelong',
 267: 'nurs',
 268: 'profess',
 269: 'informationon',
 270: 'open',
 271: 'opportun',
 272: 'enabl',
 273: 'contribut',
 274: 'origin',
 275: 'field.cours',
 276: 'overviewth',
 277: 'chemic',
 278: 'engin',
 279: 'leed',
 280: 'build',
 281: 'continu',
 282: 'evolv',
 283: 'discipline.th',
 284: 'specif',
 285: 'greater',
 286: 'depth',
 287: 'aspect',
 288: 'up-to-d',
 289: 'process',
 290: 'oper',
 291: 'associ',
 292: 'manufactur',
 293: 'plant',
 294: 'whilst',
 295: 'leadership',
 296: 'innov',
 297: 'informationw',
 298: 'apprenticeship',
 299: 'depend',
 300: 'fund',
 301: 'rout',
 302: 'interdisciplinari',
 303: 'compet',
 304: 'confid',
 305: 'acp',
 306: '.cours',
 307: 'overvieww',
 308: 'informationthi',
 309: 'meet',
 310: 'rapidli',
 311: 'focu',
 312: 'thermal',
 313: 'power',
 314: 'system',
 315: 'hands-on',
 316: 'mechan',
 317: 'physiotherapist',
 318: 'nh',
 319: 'privat',
 320: 'sector',
 321: 'care',
 322: 'exist',
 323: 'assess',
 324: 'analysi',
 325: 'insight.learn',
 326: 'state-of-the-art',
 327: 'facil',
 328: 'latest',
 329: 'get',
 330: 'leading-edg',
 331: 'train',
 332: 'physiotherapi',
 333: 'gcu',
 334: 'collabor',
 335: 'cutting-edg',
 336: 'seek',
 337: 'deliv',
 338: 'practis',
 339: 'specialist',
 340: '–',
 341: 'goal',
 342: 'pro\xadgrammewould',
 343: 'involv',
 344: 'solut',
 345: 'futur',
 346: 'food',
 347: 'energi',
 348: 'climat',
 349: 'popul',
 350: 'growth',
 351: 'limit',
 352: 'resourc',
 353: 'welfar',
 354: 'clean',
 355: 'soil',
 356: 'environment',
 357: 'newest',
 358: 'method',
 359: 'genet',
 360: 'would',
 361: 'autom',
 362: 'robot',
 363: 'agricultur',
 364: 'viikki',
 365: 'campu',
 366: 'today',
 367: 'tomorrow',
 368: 'univers',
 369: 'helsinki',
 370: 'finland',
 371: 'pro\xadgrammear',
 372: 'forward',
 373: 'nation',
 374: 'exampl',
 375: 'public',
 376: 'self-employ',
 377: 'entrepreneur.th',
 378: 'optim',
 379: 'uniqu',
 380: 'upon',
 381: 'resource-focus',
 382: 'vers',
 383: 'sustain',
 384: 'secur',
 385: '7',
 386: 'million',
 387: 'estim',
 388: 'die',
 389: 'everi',
 390: 'year',
 391: 'due',
 392: 'harm',
 393: 'air',
 394: 'pollut',
 395: 'degrad',
 396: 'qualiti',
 397: 'caus',
 398: 'prematur',
 399: 'mortal',
 400: 'exceed',
 401: 'death',
 402: 'unsaf',
 403: 'drink',
 404: 'water',
 405: 'malaria',
 406: 'hiv',
 407: 'factor',
 408: 'emiss',
 409: 'fate',
 410: 'vital',
 411: 'mitig',
 412: 'informationwith',
 413: 'increas',
 414: 'competit',
 415: 'regulatori',
 416: 'team',
 417: 'step',
 418: 'fill',
 419: 'give',
 420: 'techniqu',
 421: 'transform',
 422: 'safeti',
 423: 'transport',
 424: 'aircraft',
 425: 'mainten',
 426: 'toxicolog',
 427: 'integr',
 428: 'comprehens',
 429: 'applic',
 430: 'excit',
 431: 'ai',
 432: 'big',
 433: 'data',
 434: 'cybersecur',
 435: 'span',
 436: 'almost',
 437: 'live',
 438: 'smartphon',
 439: 'app',
 440: 'self-driv',
 441: 'assist',
 442: 'revolutionis',
 443: 'effici',
 444: 'pandem',
 445: 'computer-rel',
 446: 'remot',
 447: 'convert',
 448: 'could',
 449: 'problem-solv',
 450: 'establish',
 451: 'tool',
 452: 'creat',
 453: 'intellig',
 454: 'algorithm',
 455: 'softwar',
 456: 'polit',
 457: 'uncertainti',
 458: 'recruit',
 459: 'demand',
 460: 'decision-mak',
 461: 'bank',
 462: 'beyond',
 463: 'paper',
 464: 'insight',
 465: 'put',
 466: 'action',
 467: 'day',
 468: 'bath',
 469: 'first',
 470: 'emphasis',
 471: 'time-press',
 472: 'linguist',
 473: 'language-rel',
 474: 'life',
 475: 'research-l',
 476: 'languag',
 477: 'intercultur',
 478: 'commun',
 479: 'discours',
 480: 'project',
 481: 'part',
 482: 'car',
 483: 'resist',
 484: 'anoth',
 485: 'frequenc',
 486: 'electr',
 487: 'smart',
 488: 'grid',
 489: 'kept',
 490: 'constant',
 491: 'extern',
 492: 'disturb',
 493: 'concern',
 494: 'dynam',
 495: 'appear',
 496: 'model',
 497: 'basic',
 498: 'follow',
 499: 'numer',
 500: 'behav',
 501: 'accord',
 502: 'desir',
 503: 'interact',
 504: 'disciplin',
 505: 'shape',
 506: 'mindsetexplor',
 507: 'neurosci',
 508: 'diseas',
 509: 'treatment',
 510: 'world-renown',
 511: 'psychiatri',
 512: '100',
 513: 'discov',
 514: 'king',
 515: 'colleg',
 516: 'london',
 517: 'neuroscientif',
 518: 'neuroimag',
 519: 'neurodevelopment',
 520: 'ill',
 521: 'lab',
 522: 'emerg',
 523: 'real-world',
 524: 'variou',
 525: 'brain',
 526: 'nervou',
 527: 'want',
 528: 'devic',
 529: 'human',
 530: 'semi-conductor',
 531: 'materi',
 532: 'high-effici',
 533: 'solar',
 534: 'cell',
 535: 'anti-',
 536: 'coat',
 537: 'drone',
 538: 'airplan',
 539: 'fabric',
 540: 'wast',
 541: 'heat',
 542: 'ceram',
 543: 'micro-/nanostructur',
 544: 'break',
 545: 'easili',
 546: 'graphen',
 547: 'nano-devic',
 548: 'next-gener',
 549: 'high-spe',
 550: 'electron',
 551: 'statist',
 552: 'informat',
 553: 'base',
 554: '“',
 555: 'multimod',
 556: '”',
 557: 'scarciti',
 558: 'sciences.y',
 559: 'receiv',
 560: 'world-class',
 561: 'methodolog',
 562: 'machin',
 563: 'real-lif',
 564: 'world-lead',
 565: 'convers',
 566: 'even',
 567: 'never',
 568: 'before.y',
 569: 'support',
 570: 'member',
 571: 'staff',
 572: 'directli',
 573: 'medicin',
 574: 'entir',
 575: 'flexibl',
 576: 'time',
 577: 'suit',
 578: 'holist',
 579: 'approach',
 580: 'contemporari',
 581: 'archaeolog',
 582: 'conceptu',
 583: 'independ',
 584: 'project-bas',
 585: 'strength',
 586: 'portfolio',
 587: 'individu',
 588: 'two-year',
 589: 'design-ori',
 590: 'architectur',
 591: 'northernmost',
 592: 'school',
 593: 'architect',
 594: 'valid',
 595: 'nature-bas',
 596: 'known',
 597: 'deep',
 598: 'neural',
 599: 'network',
 600: 'scientif',
 601: 'programmes.cours',
 602: 'ground',
 603: 'good',
 604: 'imagin',
 605: 'creativ',
 606: 'appreci',
 607: 'program',
 608: 'prefer',
 609: 'java',
 610: 'c++',
 611: 'python',
 612: 'masters/postgradu',
 613: 'certif',
 614: 'artifici',
 615: 'scientist',
 616: 'pgcert',
 617: 'pure',
 618: 'extens',
 619: 'evalu',
 620: 'influenc',
 621: 'drive',
 622: 'astronomi',
 623: 'gateway',
 624: 'wide',
 625: 'technology.stud',
 626: 'astronom',
 627: 'kapteyn',
 628: 'centr',
 629: 'galaxi',
 630: 'format',
 631: 'evolut',
 632: 'cosmolog',
 633: 'star',
 634: 'planet',
 635: 'neutron',
 636: 'black',
 637: 'holes.th',
 638: 'curriculum',
 639: 'tailor',
 640: 'capabl',
 641: 'possibl',
 642: 'observ',
 643: 'instrument',
 644: 'teach',
 645: 'astrophys',
 646: 'complex',
 647: 'large-scal',
 648: 'cosmic',
 649: 'sought-aft',
 650: 'encourag',
 651: 'novel',
 652: 'cut',
 653: 'edg',
 654: 'discoveri',
 655: 'sens',
 656: 'wonder',
 657: 'came',
 658: 'right',
 659: 'significantli',
 660: 'insepar',
 661: 'finance.thi',
 662: 'overview',
 663: 'central',
 664: 'acquir',
 665: 'forc',
 666: 'sway',
 667: 'underli',
 668: 'commerci',
 669: 'banking.y',
 670: 'exercis',
 671: 'largest',
 672: 'bay',
 673: 'deepen',
 674: 'basi',
 675: 'cognit',
 676: 'neurodegener',
 677: 'behaviour',
 678: 'function',
 679: 'three',
 680: 'differ',
 681: 'perspect',
 682: 'b-track',
 683: 'c-track',
 684: 'molecular',
 685: 'n-track',
 686: 'track',
 687: 'aim',
 688: 'chosen',
 689: 'domain',
 690: 'see',
 691: 'info',
 692: 'thank',
 693: 'link',
 694: 'multi-disciplinari',
 695: 'condit',
 696: 'constraint',
 697: 'pressur',
 698: 'implic',
 699: 'accept',
 700: 'cost-effect',
 701: 'improv',
 702: 'welfare.cours',
 703: 'suitabl',
 704: 'quantit',
 705: 'fast-pac',
 706: 'bioanalyt',
 707: 'chemistri',
 708: 'pharmaceut',
 709: 'm.sc',
 710: 'full-tim',
 711: 'programanalyt',
 712: 'increasingli',
 713: 'signific',
 714: 'fast',
 715: 'precis',
 716: 'ever',
 717: 'monitor',
 718: 'hochschul',
 719: 'freseniu',
 720: 'two',
 721: 'semest',
 722: 'correct',
 723: 'classif',
 724: 'result',
 725: 'deliver.y',
 726: 'rather',
 727: 'part-tim',
 728: 'impact',
 729: 'biodivers',
 730: 'concentr',
 731: 'ecolog',
 732: 'behind',
 733: 'conserv',
 734: 'valuabl',
 735: 'conservation-rel',
 736: 'biomed',
 737: 'fastest',
 738: 'majorli',
 739: 'medic',
 740: 'biosensor',
 741: 'healthcar',
 742: 'bio-data',
 743: 'career.cours',
 744: 'overviewwith',
 745: 'alway',
 746: 'high',
 747: 'trend',
 748: 'cloud',
 749: 'benefit',
 750: 'solid',
 751: 'coverag',
 752: 'unravel',
 753: 'order',
 754: "'life",
 755: 'level',
 756: 'biomolecular',
 757: 'frontier',
 758: 'know-how',
 759: 'question',
 760: 'bio-bas',
 761: 'invalu',
 762: 'connect',
 763: 'paid',
 764: 'effort',
 765: 'biopharmaceut',
 766: 'placement',
 767: 'necessari',
 768: 'skill-set',
 769: 'flourish',
 770: 'better',
 771: 'way',
 772: 'start',
 773: '12-month',
 774: 'earn',
 775: '£20,000',
 776: 'turn',
 777: 'productsthi',
 778: 'business-focus',
 779: 'biotechnolog',
 780: 'enterpris',
 781: 'gap',
 782: 'bioscienc',
 783: 'job',
 784: 'host',
 785: 'run',
 786: 'jointli',
 787: 'translat',
 788: 'breakthrough',
 789: 'ventur',
 790: 'watch',
 791: 'ask',
 792: 'webinar',
 793: 'programme.\ufeffth',
 794: 'molecul',
 795: 'mind',
 796: 'imag',
 797: 'disord',
 798: '\ufeffover',
 799: 'last',
 800: 'decad',
 801: 'explos',
 802: 'academia',
 803: 'illustr',
 804: 'europ',
 805: 'initi',
 806: 'usa',
 807: 'data-driven',
 808: 'interpret',
 809: 'crucial',
 810: 'leader',
 811: 'succeed',
 812: 'predict',
 813: 'prescript',
 814: 'expos',
 815: 'har',
 816: '‘',
 817: 'perform',
 818: 'analysis.thi',
 819: 'pursu',
 820: 'analytics.how',
 821: 'compani',
 822: 'data.thi',
 823: 'guest',
 824: 'lectur',
 825: 'unit',
 826: 'co-deliv',
 827: 'ibm.in',
 828: 'partnership',
 829: 'ibm',
 830: 'qlik',
 831: 'winpur',
 832: 'women',
 833: 'in-demand',
 834: 'without',
 835: 'paus',
 836: 'societi',
 837: 'upskil',
 838: 'pivot',
 839: 'consult',
 840: 'gener',
 841: 'captur',
 842: 'business.who',
 843: 'business.our',
 844: 'determin',
 845: 'scope',
 846: 'direct',
 847: 'outcom',
 848: 'ultim',
 849: 'leverag',
 850: 'careergain',
 851: 'course.deliv',
 852: 'equis-',
 853: 'amba-accredit',
 854: 'access',
 855: 'mine',
 856: 'ibm.find',
 857: 'whether',
 858: 'reach',
 859: 'entrepreneurship',
 860: 'globalis',
 861: 'confront',
 862: 'cultur',
 863: 'hone',
 864: 'manageri',
 865: 'face',
 866: 'economist',
 867: 'acut',
 868: 'percept',
 869: 'broad',
 870: 'mba-styl',
 871: 'tech-l',
 872: 'align',
 873: 'person',
 874: 'pace',
 875: 'split',
 876: 'sooner',
 877: 'pg',
 878: 'cert',
 879: '8',
 880: 'month',
 881: 'minimum',
 882: 'dip',
 883: '16',
 884: 'full',
 885: 'cardiovascular',
 886: 'taught',
 887: 'activ',
 888: 'disease.thi',
 889: 'qualifi',
 890: 'wish',
 891: 'remain',
 892: 'singl',
 893: 'next',
 894: 'consider',
 895: 'disabl',
 896: 'reduct',
 897: 'life.th',
 898: 'epidemiolog',
 899: 'patholog',
 900: 'pharmacolog',
 901: 'management.whi',
 902: 'programmeth',
 903: 'glasgow',
 904: 'reput',
 905: 'expertis',
 906: 'valu',
 907: 'money',
 908: 'geriatr',
 909: 'distanc',
 910: 'deal',
 911: 'age',
 912: 'population.thi',
 913: 'multidisciplinari',
 914: 'disease.sinc',
 915: 'conduct',
 916: 'select',
 917: 'top',
 918: 'globe',
 919: 'guid',
 920: 'throughout',
 921: 'durat',
 922: 'biomass',
 923: 'catalyst',
 924: 'greenhous',
 925: 'ga',
 926: 'co2',
 927: 'biodegrad',
 928: 'polym',
 929: 'hydrogen',
 930: 'recycl',
 931: 'tyre',
 932: 'waterproof',
 933: 'rubber',
 934: 'oil',
 935: 'recoveri',
 936: 'underground',
 937: 'reservoir',
 938: 'answer',
 939: 'groningen',
 940: 'catalysi',
 941: 'polymer',
 942: 'extend',
 943: 'breadth',
 944: 'branch',
 945: 'chemist',
 946: 'art',
 947: 'versatil',
 948: 'complement',
 949: 'laboratori',
 950: 'incorpor',
 951: 'best',
 952: 'provide.cours',
 953: 'children',
 954: 'achiev',
 955: 'china',
 956: 'introduct',
 957: 'consequ',
 958: 'rise',
 959: 'compar',
 960: 'chines',
 961: 'mode',
 962: 'cooperation.visit',
 963: 'hub',
 964: 'content',
 965: 'news',
 966: 'event',
 967: 'lau',
 968: 'rapid',
 969: 'urbanis',
 970: 'ensur',
 971: 'planners.th',
 972: 'citi',
 973: 'plan',
 974: 'evidence-bas',
 975: 'settlement',
 976: 'enter',
 977: 'maker',
 978: 'togeth',
 979: 'estat',
 980: 'planner',
 981: 'surveyor',
 982: 'stakehold',
 983: 'construct',
 984: 'civil',
 985: 'engineering.look',
 986: 'enhanc',
 987: 'safe',
 988: 'small',
 989: 'group',
 990: 'alongsid',
 991: 'high-end',
 992: 'structur',
 993: 'worldwid',
 994: 'one-year',
 995: 'think',
 996: 'practice.th',
 997: 'partner',
 998: 'imperi',
 999: 'pioneer',
 1000: 'grantham',
 ...}

In [28]:
terms = pd.DataFrame(data=list(vocabulary_alt), columns=['term'])
terms['reverse'] = terms.term.apply(lambda item: list(masters.loc[masters.description.apply(lambda row: item in row)].index)) #apply instead of progress_apply
terms.head()

       term                                            reverse
0        3d                       [0, 505, 586, 668, 669, 962]
1  visualis  [0, 92, 94, 458, 813, 1147, 1351, 1367, 1495, ...
2      anim  [0, 14, 28, 37, 144, 202, 310, 690, 754, 1041,...
3      play  [0, 24, 45, 94, 107, 232, 249, 338, 367, 380, ...
4      role  [0, 17, 18, 19, 24, 48, 81, 83, 94, 96, 101, 1...

In [29]:
def find_word_in_documents(word):
    filtered_rows = terms[terms['term'] == word]['reverse'].values[0]
    result_df = masters.loc[filtered_rows, ['courseName', 'universityName', 'description', 'url']]
    return result_df

word_to_search = "account"
f_n_words = find_word_in_documents(word_to_search)
f_n_words

,courseName,universityName,description,url
1,Accounting and Finance - MSc,University of Leeds,"[busi, govern, reli, sound, financi, knowledg,...",
2,Accounting and Finance (MSc),University of Bath,"[develop, in-depth, knowledg, account, financ,...",
3,"Accounting, Accountability & Financial Manag...",King’s College London,"[account, account, financi, manag, msc, cours,...",
4,"Accounting, Financial Management and Digital...",University of Reading,"[embark, profession, account, career, academ, ...",
55,Cardiovascular Sciences - MSc(MedSci),University of Glasgow,"[cardiovascular, diseas, project, remain, sing...",
...,...,...,...,...
1699,Building Services Engineering Management MSc,Brunel University London,"[ask, brunelbrunel, 's, build, servic, engin, ...",
1714,Business Administration MSc,University of Groningen,"[studi, busi, administr, groningen, choos, one...",
1720,Business Analysis & Finance - MSc,University of Leicester,"[busi, analysi, financ, msc, univers, leicest,...",
1727,Business Analytics - MSc,Xi’an Jiaotong-Liverpool University,"[rapid, growth, avail, data, transform, way, m...",
1772,Business Engineering: Business and Technology,Vrije Universiteit Brussel,"[interest, technolog, sector, set, entrepreneu...",

In [30]:
tfidf = TfidfVectorizer(input='content', lowercase=False, tokenizer=lambda text: text) # , max_df=0.1
results = tfidf.fit_transform(masters.description)
result_dense = results.todense()
tfidf_data = pd.DataFrame(result_dense.tolist(), index=masters.index, columns=tfidf.get_feature_names_out())
len(tfidf_data)
tfidf_data

c:\Users\Elias Antoun\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\feature_extraction\text.py:525: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

,'','big,'credit,'laboratori,'life,'ll,'master,'omic,'re,'s,...,﻿offer,﻿over,﻿overviewbuild,﻿overviewth,﻿the,﻿theoret,﻿thi,﻿want,﻿you,﻿your
0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.129056,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.105174,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.296041,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.306805,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1825,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1826,0.0,0.0,0.0,0.0,0.0,0.316869,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1827,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1828,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1829,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:
cossim_data =pd.DataFrame(cosine_similarity(tfidf_data), index=masters.index, columns=masters.index)
cossim_data

,0,1,2,3,4,5,6,7,8,9,...,1820,1821,1822,1823,1824,1825,1826,1827,1828,1829
0,1.000000,0.034014,0.060136,0.044689,0.043579,0.014578,0.019519,0.029198,0.036305,0.032033,...,0.073866,0.005557,0.005557,0.012136,0.009614,0.054766,0.021275,0.061069,0.030584,0.021406
1,0.034014,1.000000,0.341223,0.278438,0.323464,0.016036,0.059216,0.030356,0.056752,0.041865,...,0.043955,0.036420,0.036420,0.059596,0.057856,0.047040,0.053124,0.041559,0.049855,0.033845
2,0.060136,0.341223,1.000000,0.387080,0.188841,0.007032,0.082088,0.033526,0.103012,0.069877,...,0.049097,0.021392,0.021392,0.015267,0.053376,0.083374,0.140217,0.044993,0.031976,0.040390
3,0.044689,0.278438,0.387080,1.000000,0.296849,0.071447,0.063428,0.026073,0.046220,0.027944,...,0.112161,0.044607,0.044607,0.020753,0.027178,0.010953,0.122780,0.047366,0.027249,0.015700
4,0.043579,0.323464,0.188841,0.296849,1.000000,0.061442,0.048807,0.016635,0.047721,0.061011,...,0.143536,0.049655,0.049655,0.092666,0.056873,0.024414,0.046482,0.048136,0.016097,0.032295
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1825,0.054766,0.047040,0.083374,0.010953,0.024414,0.000000,0.036750,0.028512,0.034399,0.041222,...,0.020280,0.147191,0.147191,0.235712,0.184009,1.000000,0.304568,0.154884,0.133600,0.156255
1826,0.021275,0.053124,0.140217,0.122780,0.046482,0.016192,0.017896,0.022244,0.058481,0.080424,...,0.016275,0.166807,0.166807,0.419493,0.209516,0.304568,1.000000,0.259300,0.145420,0.251419
1827,0.061069,0.041559,0.044993,0.047366,0.048136,0.011076,0.044856,0.024691,0.056632,0.036409,...,0.034865,0.136704,0.136704,0.197691,0.129151,0.154884,0.259300,1.000000,0.096718,0.189645
1828,0.030584,0.049855,0.031976,0.027249,0.016097,0.007698,0.052025,0.051381,0.071776,0.069785,...,0.022289,0.076015,0.076015,0.147124,0.088416,0.133600,0.145420,0.096718,1.000000,0.085441
1829,0.021406,0.033845,0.040390,0.015700,0.032295,0.004972,0.013584,0.061197,0.017776,0.012818,...,0.023781,0.101621,0.101621,0.247286,0.287667,0.156255,0.251419,0.189645,0.085441,1.000000

In [32]:
def top_5_cosine_similarity_documents(word):
    word_documents = find_word_in_documents(word)
    document_indices = word_documents.index.tolist()
    cosine_scores = cossim_data.loc[document_indices].sum(axis=1)
    top_documents_indices = cosine_scores.nlargest(5).index
    top_documents_info = masters.loc[top_documents_indices, ['courseName', 'universityName', 'description', 'url']]
    return top_documents_info

word_to_search = "account"
top_document = top_5_cosine_similarity_documents(word_to_search)
top_document

,courseName,universityName,description,url
644,"Accounting, Finance and Management - MSc",University of Bristol,"[highli, success, msc, programm, design, stude...",
1699,Building Services Engineering Management MSc,Brunel University London,"[ask, brunelbrunel, 's, build, servic, engin, ...",
623,Accounting and Finance MSc,University of Greenwich,"[flexibl, master, ’, account, financ, give, st...",
612,Accounting and Finance - MSc,University of Sussex,"[msc, ’, advanc, account, financ, knowledg, pr...",
757,Advanced Clinical Practice (Postgraduate Cer...,University of Gloucestershire,"[programm, enabl, experienc, healthcar, profes...",

In [33]:
def create_inverted_index(tfidf_data):
    inverted_index = {}
    for term_id, term in enumerate(tfidf_data.columns):
        term_info = []
        for doc_id in tfidf_data.index:
            tfidf_score = tfidf_data.at[doc_id, term]
            if tfidf_score > 0:
                term_info.append((doc_id, tfidf_score))
        inverted_index[term_id + 1] = term_info
    return inverted_index

In [35]:
def find_related_documents(word, masters, tfidf_data, cossim_data, inverted_index):
    term_id = terms[terms['term'] == word].index[0] + 1
    term_info = inverted_index.get(term_id, [])
    if not term_info:
        print(f"No documents found for the word '{word}'.")
        return
    term_info.sort(key=lambda x: x[1], reverse=True)
    top_documents = []
    heap = []
    for doc_id, tfidf_score in term_info:
        similarity_score = cossim_data.at[masters.index[doc_id], masters.index[doc_id]]
        heapq.heappush(heap, (similarity_score, doc_id))
        if len(heap) > 5:
            heapq.heappop(heap)
    top_documents = sorted(heap, key=lambda x: x[0], reverse=True)
    
    # Display the results as a table
    result_table = pd.DataFrame(columns=['courseName', 'universityName', 'description', 'url', 'Similarity'])
    
    for similarity, doc_id in top_documents:
        row_data = masters.loc[masters.index[doc_id], ['courseName', 'universityName', 'description', 'url']].tolist()
        row_data.append(similarity)
        result_table = pd.concat([result_table, pd.DataFrame([row_data], columns=result_table.columns)], ignore_index=True)
    return result_table

In [36]:
inverted_index = create_inverted_index(tfidf_data)
word_to_search = "account"
related_documents = find_related_documents(word_to_search, masters, tfidf_data, cossim_data, inverted_index)
related_documents

C:\Users\Elias Antoun\AppData\Local\Temp\ipykernel_21980\4163418527.py:23: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_table = pd.concat([result_table, pd.DataFrame([row_data], columns=result_table.columns)], ignore_index=True)

,courseName,universityName,description,url,Similarity
0,Physics MSc,University of Groningen,"[univers, groningen, long-stand, tradit, high-...",,1.0

**PART 3: ALternative Scoring function**

In this part we will be implementing an alternative, and more rigorous scoring function compared to the one presented in 2.2.

This function will be scoring the reuslts accordidng to the following criteria:

1- Description matching as before
2- Exact matches in course titles
3- Possible matches in geographical location
4- Possible tuition fee matching, preferring universities with tuition costs lower than any that may be specified in the query.
5- Possible matches in modality and administration
6- Preference to higher ranked universities (Qs 2024 ranking)

*Score 1: Description matching*

In [21]:
def description_score(query):
    query_terms = set(stemmer.stem(query))
    description_terms = masters["description"]
    match_count = len(query_terms.intersection(description_terms))
    return match_count

*Score 2: Exact Matches in Course Titles*

In [20]:
def title_exact_match_score(query):
    return 1 if query.lower() == masters["courseName"].lower() else 0

*Score 3: Geographical location*

In [19]:
def location_score(user_location):
    return 1 if user_location.lower() in masters["country"].lower() or masters["city"] else 0

*Score 4: Tuition fees matching*

Case 1: masters["fees"] is not empty

In [22]:
def fee_score(user_budget):
    if masters["fees"] >= 0:
        return 1 if user_budget >= masters["fees"] else 0

Case 2: masters["fees"] is not reported

Case 3: Administration score

In [ ]:
def administration_score(query)

In [ ]:
Adm = {"full time": [""]}